@charset "utf-8";

/*  Ramsay Colour Scheme */

.manila {
 color:#fdb921; /* Yellow */
 }
.biro, h1, h2 {
 color:#2d3278; /* Blue */
 }
.breakout, h3 {
 color:#f05a34; /* Orange */
 }
.fern {
 color:#2d5237; /* Green */
 }
.apple {
 color:#911414; /* Red */
 }

html {
 background-color:#F9F8F5;
 font-family: 'Roboto', Arial, Gotham, "Helvetica Neue", Helvetica, "sans-serif";
 font-size: 15px;
 line-height: 1.5;
 font-weight: normal;
}

body {
 background-color:#F9F8F5; /* Grey*/
 margin:0;
 padding:0;
}

.container-fluid {
   max-width:1024px;
 padding:0;
}

/*** HEADER ****/
.full-header {
 background-color:#fff;
 width:100%;
 margin:0;
 padding:0;
}

.hbar {
 margin:0;
 padding:0;
 background-image:url('https://image.emails.winc.com.au/lib/fe9512727365077d7d/m/5/d41c1697-13d2-46f5-83b2-ffeae51a8824.png');
 background-repeat: repeat-x;
 height:20px;
 width:100%;
}


header img {
 margin:40px 0px 20px 40px; 
}

#content {
 padding:10px 20px;
}

h1 {
 font-family: 'Work Sans', sans-serif;
 padding-top:0px;
 font-size:32px;
 font-weight:bold;

}
h2 {
 font-family: 'Roboto', sans-serif;
 font-size: 15px;
}

h3 {
 font-family: 'Work Sans', sans-serif;
 font-size: 15px;
 font-weight:600;
}

/*** PROFILE DETAILS ***/
.format-profile {
 margin:0px;
}
.form-label {
 font-family: 'Work Sans', Arial, sans-serif;
 font-weight:bolder;
 position:relative;
 top:80%;
 transform:translateY(80%);
}

.form-control {
 margin:10px 0px;
 padding:10px 10px;
}


.whitebox {
 position: relative;
 height: auto;
 min-height:180px;
 background-color:#fff;
 border:thin #000000 solid;
 padding:20px 40px 0px 20px;
 margin:12px 0px 0px 0px;
}

.whitebox .blue-tick {
 position: absolute;
 right:0;
 top: 50%;
 transform: translateY(-50%);
 margin: 0px 20px 0px 20px;
}

.whitebox p {
 padding-right:20px;
}

.email_box img {
 padding-top:25px;
 float:right;
}


/*** SUBMISSION BUTTONS ***/
.btn-update {
 background-color:#2d3278;
 color:#fff;
  border:1px #2d3278 solid;
 padding: 6px 6px;
 min-width:120px;
 float:right;
}

.btn-update:hover {
 color:#f05a34;
}
.btn-unsub {
 background:#f9f8f5;
 color:#2d3278;
 border:1px #2d3278 solid;
 padding: 6px 6px;
 min-width:120px;
}
.btn-unsub:hover {
 color:#f05a34;
}


/*** RADIO BUTTONS ***/
.radio-group {
 margin:0;
 padding-right:20px;
 text-align:right;
}
input[type="radio"] {
 height:80px;
 top: 50%;
 transform: translateY(-55%);
}
.radio-label {
 font-weight:bold; 
 float:left;
}

.frequency h2 {
 padding-top:20px;
}

.format-submit {
 margin:20px 0px;

 display:inline-block;
 
}
.col-spaced {
 margin:0px 20px;
 width:120px;
}

.confirm {
 font-family: 'Roboto', Arial, Sans-serif;
 background-color:#f05a34;
 color:#fff;
 padding:20px 60px;
}

.confirm h1 {
 font-size:3.0em;
 color:#fff;
 margin-bottom:24px;
}

.confirm p {
 font-family:'Work Sans', Arial, sans-serif;
 font-size:16px;
 margin:6px;
 padding:6px;
}




/***********
STYLE FOR ALERT DIV ------------ */
.error-msg {
 font-size: 16px;
 max-width:1024px;
 height:auto;
 border:#e34c4c solid 1px;
 border-radius:5px;
 padding:0;
 margin:auto;
}

.success-msg {
 font-size: 16px;
 max-width:1024px;
 height:auto;
 border:#2D5237 solid 1px;
 border-radius:5px;
 padding:0;
 margin:auto;
}

.error-icon{
 color: #fff ;
 width:80px;
 background-color:#e34c4c;
 font-size:36px;
 text-align:center;
 display:inline-block;
}

.success-icon{
 color: #fff ;
 width:80px;
 background-color:#2D5237;
 font-size:36px;
 text-align:center;
 display:inline-block;
}

.alert-txt {
 display:inline-block;
 vertical-align:middle;
 padding-left:6px;
}

@media (max-width:699px){
 .alert-txt p {
  font-size:14px;
  padding:2px;
 }
 
 .error-icon, .success-icon {
  font-size:30px;
  width:100%;
 }
}
/*********
STYLE FOR A CHECKBOX --------------- */

input[type=checkbox] {

    opacity: 0;
 position: absolute;
}
input[type=checkbox] + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
input[type=checkbox] + label:before {
    border: 1px solid #bbbbbb;
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top; 
    width: 22px;
    height: 22px;
    background: #e6e6e6;
    border-radius: 3px;
}
input[type=checkbox]:hover + label:before {
    background: #ccc;
}
input[type=checkbox]:checked + label:before {
    background: #2d3278;
}
input[type=checkbox]:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
input[type=checkbox]:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
input[type=checkbox]:checked + label:after {
    content: '✓';
    color: #fff;
    font-size: 20px;
    left: 4px;
    position: absolute;
}

@media (min-width: 768px) {
   label.col-sm-3 {
      width: 30% !important;
   }
   div.col-sm-9 {
      width: 70% !important;
   }
}

@media (max-width:699px){

   .UnsubBodyDiv { 
      padding-top: 30px !important;
      padding-right: 45px !important;
      padding-bottom: 30px !important;
      padding-left: 45px !important;
   }
   .UnsubBodyHeader { 
      font-size: 32px !important;
   }
   .sc-formfield-input {
      width: 300px !important
   }
   
 .confirm h1 {
  font-size: 20px;
 }
 
 .confirm p {
  font-size:16px;
 }
 input[type=submit]{
  font-size:12px;
  width:60px;
  padding:2px;

 }
 
 input[type=radio] {
  margin-right:10px;
 }
 
 .radio-group {
  width:100%;
  padding-right:5px;
 }
 
 .format-radio {
  margin:24px 24px;
}
 
 #content {
 padding:5px;
}
}